<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.YouthCompass.mapper.member.MemberMapper">
    <insert id="insertMember" useGeneratedKeys="true" keyProperty="memberId">
        INSERT INTO TBL_MEMBER(MEMBER_NAME, MEMBER_EMAIL, MEMBER_LOGIN_ID, MEMBER_PASSWORD, MEMBER_REGION, MEMBER_BIRTH, MEMBER_GENDER, MEMBER_PHONE,MEMBER_PROVIDER)
        VALUES (#{memberName},#{memberEmail},#{memberLoginId},#{memberPassword},#{memberRegion},#{memberBirth},#{memberGender},#{memberPhone},#{memberProvider})
    </insert>
</mapper>
